
body {
    background: url('images/hero.jpg') no-repeat center center fixed;
    background-size: cover;
}


/* Center the login card */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the screen */
}

/* Style the login card */
.card {
    background: rgba(255, 255, 255, 0.8); /* Transparent white background */
    border-radius: 10px;
    backdrop-filter: blur(5px); /* Glass effect */




}
